.calendar {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.current-month {
  font-size: 24px;
  padding: 10px;
}

.days {
  padding: 10px;
}

.calendar-body {
  border: 1px solid red;
  width: 74%;
}

.dates {
  display: flex;
  flex-wrap: wrap;
}

.days-month {
  border: 1px solid black;
  height: 125px;
  text-align: center;
  width: 125px;
}

.weekdays {
  display: flex;
  justify-content: space-evenly;
}
